.flex-container {
    display: flex;
    background: #3b3b3b;
    padding: 0 10px;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}