.flex-container {
    display: flex;
    flex-direction: row;
    background: #494949;
    flex-wrap: nowrap;
    padding: 0 10px;
}

.flex-container > a {
    align-self: flex-end;
    margin-left: auto;
}