<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:include="~{parts/header :: head}"></div>
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
<div th:include="~{parts/header :: navbar}"></div>
<div class="row">
    <div th:include="~{parts/menu :: menu}"></div>
    <div class="main">
        <div class="tab-content">
            <div sec:authorize="hasAuthority('ADMIN')" class="col tab-pane fade in active" id="adminPanel">
                <h2 class="pl-2 font-weight-bold">Admin panel</h2>
                <br>
                <ul class="nav nav-tabs"  style="background-color: #eeeeee" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#userTable" role="tab"
                           aria-controls="home"
                           aria-selected="true">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#formUser" role="tab"
                           aria-controls="profile"
                           aria-selected="true">Add User</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade in active" id="userTable" role="tabpanel" aria-labelledby="home-tab">
                        <div th:include="~{parts/list :: list}"></div>
                    </div>
                    <div class="tab-pane fade" id="formUser" role="tabpanel" aria-labelledby="profile-tab">
                        <div th:include="~{parts/formUser :: userForm}"></div>
                    </div>
                </div>
            </div>
            <div id="userCard" class="tab-pane fade" role="tabpanel" aria-labelledby="profile-tab">
                <div th:include="~{parts/userCard :: card}"></div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/edit.js"></script>
</body>
</html>