<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="list">
    <table class="table table-striped border">
        <thead class="thead">
        <tr>
            <th colspan="5" class="table-active" >All users</th>
        </tr>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Имя</th>
            <th scope="col">Login</th>
            <th scope="col">Роли</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <div th:if="${!users.isEmpty()}">
            <!-- construct an "update" link with customer id -->
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.login}"></td>
                <td th:text="${user.roles}"></td>
                <td>
                    <button      th:attr = "data-id=${user.id},data-name=${user.name}, data-login=${user.login}, data-password=${user.password}"
                            type="button"
                            class="btn btn-primary"
                            data-toggle="modal"
                            data-target="#editUser"
                            data-id='${user.id}'
                            data-login="${user.login}"
                            data-name="${user.name}"
                            data-password="${user.password}">Edit
                    </button>
                    <a th:href="@{/admin/delete/{id}(id=${user.id})}"
                       onclick="if (!(confirm('Are you sure you want to delete this customer?'))) return false">Delete</a>
                </td>
            </tr>
        </div>
        <div th:if="${users.isEmpty()}">
            <div class="w3-panel w3-red w3-display-container w3-card-4 w3-round">
            <span onclick="this.parentElement.style.display='none'"
                  class="w3-button w3-margin-right w3-display-right w3-round-large w3-hover-red w3-border w3-border-red w3-hover-border-grey">X</span>
                <h5>There are no users yet!</h5>
            </div>
        </div>
    </table>
    <div th:include="~{parts/editUser :: edit}"></div>
</div>
</body>
</html>