<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="css/menu.css">
</head>
<body>
<div th:fragment="menu">
    <nav class="side navbar navbar-default">
        <div class="btn-group" role="group" aria-label="Basic example">
            <ul class="nav nav-item">
                <li sec:authorize="hasAuthority('ADMIN')">
                    <a style="width: 189px" class="nav-link btn-outline-primary active" data-toggle="tab" role="button" aria-pressed="true"
                       th:href="@{/admin}" href="/admin">Admin</a>
                </li>
                <li>
                    <a style="width: 187px" class="button btn-outline-primary" data-toggle="tab" role="button" aria-pressed="true"
                       th:href="@{/user}" href="/user">User</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>